.home_container {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
    padding: 4em;
    margin: 0 auto;
  }
  
  .home_container h1 {
    font-size: 2.5em;
    margin: 0 auto;
    margin-bottom: 0.5em;
  }
  
  .home_container h1 span {
    color: #ba6;
    padding: 0 0.2em;
    background-color: #002244;
  }
  
  .home_container p {
    font-weight: bold;
    color: #002244;
    margin: 0 auto;
    margin-bottom: 1.5em;
  }
  
  .home_container img {
    width: 350px;
    margin: 2em 0;
    border-radius: 50%;
    margin: 0 auto;
  }

  a {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 1.5em;
  }

