.novosclientes_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  letter-spacing: 0.1em;
  width: 75%;
  padding: 5px 10px;
  margin: 60px 0 0 0;
  margin-bottom: 20px;
  border: 1px solid #ba6;
  border-radius: 20px;
  box-sizing: border-box;
  list-style: none;
  box-shadow: 0 0 15px 0 #ba6;
  background-color: #002244;

  font-family: "Open sans", sans-serif;
}

.novosclientes_container h1 {
  margin-bottom: 5em;
  text-align: center;
}

.novosclientes_container p {
  color: #5ff;
}
main {
  display: flex;
  justify-content: center;

  padding: 3rem 0;
}

.card-post {
  background-color: #2f3644;
  padding: 30px 70px;
  border-radius: 15px;
}

.card-post h1 {
  font-family: Heebo;
  font-weight: 800;
  text-align: center;

  color: #d2daf5;

  font-size: 3rem;
  margin-bottom: 5px;
}

.line-post {
  height: 2px;
  background-color: #3e445b;
}

.card-body-post {
  margin-top: 25px;
}

.fields {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 7px;
  font-size: 1.2rem;

  color: #d2daf5;

  font-family: Poppins;
}

input,
textarea {
  width: 100%;
  border-radius: 10px;
  border: 0;
  outline: 0;

  font-size: 1.2rem;

  padding-left: 15px;
}

input {
  height: 45px;
}

textarea {
  height: 190px;
  resize: none;

  padding-top: 10px;
}

.btn-post {
  margin-top: 30px;
  text-align: center;
}

.btn-post button {
  font-family: Heebo;
  font-weight: 800;
  font-size: 1.3rem;
  justify-content: center;

  padding: 5px 50px;
  color: #fff;
  background-color: #3decb1;

  border: 0;
  border-radius: 10px;
  margin-top: 15px;

  cursor: pointer;
}

.error-message {
  color: rgb(240, 47, 47);
}
