.btn {
  background-color: #002244;
  color: #eee;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 0.5em;
  font-weight: bold;
  width: fit-content;
}

.btn:hover {
  color: #ba6;
}
