.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #002244;
  padding: 1em;
  font-weight: bold;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 1em;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a:hover {
  color: #ba6;
  text-decoration: none;
}

.imgLogo {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}